[Desktop Entry]
Type=Application
Name=RelayBar
Comment=Manage SSH local port forwards
Exec=relaybar
Icon=network-server
Terminal=false
Categories=Network;
Keywords=SSH;Tunnel;Port Forward;
StartupNotify=true
